<div class="container" role="main">
  <!-- Toolbar -->
  <nav class="navbar navbar-expand-lg">
    <button
      *ngIf="nameComponent!='add'"
      class="btn btn-primary"
      routerLink="add"
    >
      <span class="glyphicon glyphicon-plus-sign"></span> Add post
    </button>
    <button
      *ngIf="nameComponent!='posts'"
      class="btn btn-primary"
      routerLink="posts"
    >
      <span class="glyphicon glyphicon-list"></span> Post list
    </button>
    <button
      *ngIf="nameComponent!='document'"
      class="btn btn-primary"
      routerLink="document/exo1.pdf"
    >
      <span class="glyphicon glyphicon-open-file"></span> exercice
    </button>
    <div class="spacer"></div>
    <span>Créez une application de type blog</span>
    <div class="spacer"></div>

    <div class="spacer"></div>
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </nav>

  <section>
    <h3 class="capitalize">{{pageTitle}}</h3>
    <router-outlet></router-outlet>

  </section>


  <!-- Footer -->
  <footer class="align-content-center">
    <div>Ma 1ère application</div>
    <div class="spacer"></div>
    <label>Environnement : </label>
    <select class="form-control" style="font-size: 80%;width: 30%">
      <option disabled selected> Angular CLI: 8.3.19
        Node: 12.5.0
      </option>
      <option>@angular-devkit/architect -- 0.803.19</option>
      <option>@angular-devkit/build-angular -- 0.803.19</option>
      <option>angular-devkit/build-optimizer -- 0.803.19</option>
      <option>@angular-devkit/build-webpack -- 0.803.19</option>
      <option>@angular-devkit/core -- 8.3.19</option>
      <option>@angular-devkit/schematics -- 8.3.19</option>
      <option>@angular/cli -- 8.3.19</option>
      <option>@ngtools/webpack -- 8.3.19v</option>
      <option>@schematics/angular -- 8.3.19</option>
      <option>@schematics/update -- 0.803.19</option>
      <option>rxjs -- 6.4.0</option>
      <option>typescript -- 3.5.3</option>
      <option>webpack -- 4.39.2</option>
    </select>
    <div class="spacer"></div>
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </footer>
</div>

